{
  "extends": "airbnb",
  "env" : {
    // "node": true,
    // "jquery": true,
    "browser": true,
    // "jasmine": true,
  },
  "rules": {
    "react/forbid-prop-types": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
  },
  "globals": {}
}
