@import '~sanitize.css/sanitize.css';

body {
  font-family: 'Helvetica Neue', 'Calibri Light', Roboto, sans-serif;
  font-size: 17px;
  font-weight: 400;
  margin: 2rem 1.2rem;
}

img {
  display: block;
  max-width: 100%;
}
