@import "~sanitize.css/sanitize.css";

body {
  font-family: Georgia,serif;
  font-weight: 400;
  font-size: 17px;
  margin: 2rem 1.2rem;
}

svg {
  display: inline-block;
  width: 30%;
  padding: 3rem;
}

img {
  max-width: 100%;
}

.user-photos {
  &__thumb {
    float: left;
    width: 150px;
    border: 10px solid transparent;
    outline: none;

    &[data-selected='true'] {
      border: 10px solid red;
    }
  }
}
