<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Middleman + Webpack</title>

    <%= stylesheet_link_tag "index.bundle" %>
  </head>
  <body>

    <h1>metalprints.com</h1>
    <div id="userPhotos"></div>

    <%= javascript_include_tag "index.bundle" %>
  </body>
</html>
